html {
  color: #fff;
  background: #313543;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: smaller;
}
html, body { margin: 0; padding: 0; }
#main {
  margin: 4em auto 0 auto;
  max-width: 960px;
  position: relative;
}
#app {
  margin: 1em 0 3em 0;
  text-align: center;
  width: 100%;
  /* color: #2c3e50; */
}
#static {
  text-align: center;
  margin: 1em 0;
  width: 100%;
}
#static > p {
  width: 100%;
}
img#showmystripes {
  max-width: 100%;
  width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
@media only screen and (max-width: 500px) {
  #main {
    /*
    max-width: 480px;
    */
  }
  img#showmystripes {
    padding-left: 1em;
    padding-right: 1em;
  }
}
a {
  color: #d9e1e8;
  background: transparent;
}
a:hover {
  color: #fff;
  transition: color .15s ease-in
}
.hidden {
  display: none;
}
