
html {
  color: #fff;
  background: #313543;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: smaller; */
}
html, body { margin: 0; padding: 0; }
